.pk-header h1 {font-size: 45px;}
.pk-main h1 {font-size: 32px;text-align: left;}
.pk-main li p{text-align: left; font-size: 15px; line-height: 1.2em; font-weight: 700;}
.pk-main strong {display: block; font-size: 18px; font-weight: 900;}
.pk-toons .pk-description {margin-top: -184px;}
.pk-library .pk-description {margin-top: -250px;}
.pk-games .pk-description {margin-top: -219px;}
.pk-best .pk-description {margin-top: -225px;}
.btn-pk {padding: 20px 60px;}
.pk-header h3 {font-size: 20px;}